* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

button , input {
   outline: none;
   border: none;
   background: none;
}



.btn {
   background-color: #22C55E;
   color: #F0FDF4;
   border-radius: 6px;
   font-weight: 500;
   transition: 0.5s;
}

.btn:hover {
   cursor: pointer;
   background-color: #279b52;
}

@font-face {
   font-family: 'Poppins';
   src: url('../styles/fonts/Poppins-Regular.ttf');
}

body {
   font-family: 'Poppins' , sans-serif;
}

.container {
   width: 100%;
   max-width: 1140px;
   margin: 0 auto;
   padding: 0px 15px;
}
/* Header styles */

 .head {
   width: 100%;
   max-width: 1200px;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;   
   padding-top: 24px;
}

.head .menu .links {
   display: flex;
   align-items: center;
   gap: 0px 48px;
}

.head .menu .links .link a {
   color: #556987;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
}

.head .menu .links .link a:hover , .head .actions .auth li:first-child a:hover  {
   font-weight: 700;
}

.head .actions .auth {
   display: flex;
   align-items: center;
   gap: 0px 24px;
}

 .head .actions .auth li:first-child button {
   font-size: 16px;
   font-weight: 500;
   color: #556987;
   cursor: pointer;
}

 .head .actions .auth li:last-child button {
   font-size: 14px;
   font-weight: 500;
   padding: 8px 16px;
   border-radius: 6px;
   transition: 0.5s;
}

.head .fa-bars {
   margin-right: 10px;
   font-size: 20px;
   color: #22C55E;
   cursor: pointer;
   display: none;
}

.head .bg-black {
   width: 100%;
   max-width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   display: none;
}

.head .bg-black.active {
   display: block;
}

.head .bg-black .mobile-menu {
   background-color: white;
  width: 80%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 99;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 100vh;
  justify-content: flex-start;
  padding: 1rem; /
}

.head .bg-black .mobile-menu.active {
   display: flex;
}

.head .bg-black .mobile-menu .logo {
   display: flex;
   width: 100%;
   max-width: 100%;
   justify-content: space-between;
   align-items: center;
}

.head .bg-black .mobile-menu .logo .fa-xmark {
   font-size: 20px;
   cursor: pointer;
}

.head .bg-black .mobile-menu .menu-link .links {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.head .bg-black .mobile-menu .menu-link .links .link a {
   color: #556987;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
}

.head .bg-black .mobile-menu .actions-mobile .auth {
   margin-top: 380px;
   display: flex;
   gap: 10px;
}

.head .bg-black .mobile-menu .actions-mobile .auth li button {
   font-family: 'Poppins' , sans-serif;
   padding: 12px 15px;
}
/* Hero */
.hero {
   background: #F7F8F9;
   margin-top: 20px;
}
.hero .container {
   background: url('../images/hero-bg.svg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 88px 0px 95px;
}

.hero .container .uptitle {
   font-size: 12px;
   font-weight: 500;
   color: #fff;
   background: #22C55E;
   padding: 2px 8px;
   border-radius: 36px;
   margin-bottom: 24px;
}

.hero .container .title {
   color: #fff;
   font-weight: 700;
   font-size: 60px;
   line-height: 72px;
   text-align: center;
   width: 100%;
   max-width: 750px;
   margin-bottom: 24px;
}

.hero .container .subtitle {
   color: #8896AB;
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   width: 100%;
   max-width: 715px;
}

.hero .container .form-big {
   width: 100%;
   max-width: 600px;
   display: flex;
   align-items: center;
   gap: 0px 16px;
   margin: 26px 0px 16px;
}

.hero .container .form-big .email {
   background: #fff;
   width: 100%;
   max-width: 350px;
   padding: 16px 14px;
   border-radius: 8px;
   font-size: 16px;
   display: flex;
   align-items: center;
   gap: 0px 8px;
   color: #667085;
}

.hero .container .form-big .email input::placeholder {
   font-family: 'Poppins' , sans-serif;
}

.hero .container .form-big .btn {
   font-family: 'Poppins' , sans-serif;
   font-size: 16px;
   padding: 12px 28px;
}

.hero .container .helper {
   color: #8896AB;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
}

.for-bg {
   width: 100%;
   max-width: 100%;
   height: 200px;
   background: #F7F8F9;
}
/* Partners styles */

.partners {
   position: absolute;
   top: 660px;
   width: 100%;
   max-width: 100%;
   margin: 0 auto;
   background-image: url('../images/bg-partners.svg');
   background-position: center;
   padding-bottom: 270px;
   padding-top: 80px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-bottom: 200px;
}

.partners .container {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.partners .container h3 {
   color: #BBC3CF;
   font-weight: 500;
   font-size: 16px;
   margin-bottom: 32px;
}

.partners .container .images {
   display: flex;
   gap: 0px 64px;
}

/* Features */

.features {
   margin-top: 190px;
   margin-bottom: 100px;
}

.features .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.feature-text {
   color: #22C55E;
   font-size: 12px;
   font-weight: 500;
   background: #DCFCE7;
   border-radius: 36px;
   padding: 2px 8px 2px 8px;
   width: 74px;
}

.features .container .top .feature-text {
   margin: 0 auto;
}

.features .container .top .title {
   font-weight: 700;
   font-size: 36px;
   color: #2A3342;
   line-height: 44px;
   margin: 16px 0px;
}

.features .container .top .subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   color: #556987;
   width: 100%;
   max-width: 919px;
   margin-bottom: 48px; 
}
.features .container .cards {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   justify-content: center;
}

.features .container .cards .card {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   max-width: 350px;
}

.features .container .cards .card h3 {
   font-weight: 700;
   font-size: 24px;
   color: #2A3342;
   margin: 24px 0px 16px;
}

.features .container .cards .card p {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #556987;
   width: 100%;
   max-width: 300px;
   text-align: center;
}

/* Idea styles */

.idea {
   margin-bottom: 100px;
}

.idea .container {
   background: #1C232D;
   border-radius: 6px;
   display: flex;
   height: 290px;
   align-items: center;
   justify-content: space-around;
}

.idea .container .left h2 {
   font-size: 36px;
   line-height: 44px;
   color: #fff;
   font-weight: 700;
   width: 100%;
   max-width: 456px;
}

.idea .container .left p {
   color: #8896AB;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   width: 100%;
   max-width: 456px;
   margin-top: 16px;
}

.idea .container .right {
   display: flex;
   align-items: center;
   gap: 24px;
}

.idea .container .right .btn {
   font-size: 18px;
   font-weight: 500;
   color: #F0FDF4;
   font-family: 'Poppins' , sans-serif;
   padding: 14px 28px;
}

.idea .container .right .two-btn {
   background: #fff;
   color: #333F51;
   font-weight: 500;
   font-size: 18px;
   padding: 14px 28px;
   border-radius: 6px;
   font-family: 'Poppins' , sans-serif;
}

/* About styles */

.about .container .top h2 {
   margin: 16px 0px;
   font-weight: 700;
   font-size: 36px;
   color: #2A3342;
   line-height: 44px;
}

.about .container .top p {
   color: #556987;
   font-weight: 500;
   font-size: 20px;
   width: 100%;
   max-width: 919px;
   margin-bottom: 70px;
}

.about .container .bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about .container .bottom .cards .card {
   display: flex;
   align-items: flex-start;
   gap: 24px;
   margin-bottom: 40px;
}

.about .container .bottom .cards .card .text h3 {
   font-weight: 700;
   font-size: 24px;
   color: #2A3342;
   margin-bottom: 14px;
}

.about .container .bottom .cards .card .text p {
   color: #556987;
   font-weight: 500;
   width: 100%;
   max-width: 375px;
   font-size: 16px;
}

/* About-2 styles */
.about-2 {
   margin-top: 100px;
}

.about-2 .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.about-2 .container .right {
   width: 100%;
   max-width: 450px;
}

.about-2 .container .right h2 {
   font-size: 48px;
   font-weight: 700;
   line-height: 60px;
   color: #2A3342;
   margin: 16px 0px 32px;
   width: 100%;
   max-width: 450px;
}

.about-2 .container .right p {
   font-weight: 500;
   font-size: 20px;
   color: #556987;
   margin-bottom: 25px;
   width: 100%;
   max-width: 100%;
}

.about-2 .container .right .btn {
   padding: 11px 18px;
   font-family: 'Poppins' , sans-serif;
   font-size: 16px;
}

/* About-3 styles */
.about-3 {
   margin-top: 100px;
}

.about-3 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about-3 .container .left h2 {
   font-size: 48px;
   font-weight: 700;
   line-height: 60px;
   color: #2A3342;
   margin: 16px 0px 32px;
   width: 100%;
   max-width: 450px;
}

.about-3 .container .left p {
   font-weight: 500;
   font-size: 20px;
   color: #556987;
   margin-bottom: 25px;
   width: 100%;
   max-width: 100%;
}

.about-3 .container .left .btn {
   padding: 11px 18px;
   font-family: 'Poppins' , sans-serif;
   font-size: 16px;
}

/* Company numbers */

.company-numbers {
   margin-top: 100px;
   margin-bottom: 88px;
}

.company-numbers .container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.company-numbers .container .top {
   text-align: center;
}

.company-numbers .container .top h3 {
   margin: 0 auto;
}

.company-numbers .container .top h2 {
   margin: 16px 0px;
   font-size: 48px;
   color: #2A3342;
   font-weight: 700;
   line-height: 60px;
}

.company-numbers .container .top p {
   width: 100%;
   max-width: 919px;
   color: #556987;
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 64px;
}

.company-numbers .container .bottom {
   width: 100%;
   max-width: 100%;
   text-align: center;
   display: flex;
   justify-content: space-between;
}

.company-numbers .container .bottom .card span {
   font-weight: 700;
   font-size: 48px;
   color: #22C55E;
}

.company-numbers .container .bottom .card p {
   color: #556987;
   font-size: 20px;
   font-weight: 500;
}

/* Video box */
.video-box {
   background: url('../images/video-bg.svg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 310px;
   padding-bottom: 300px;
   display: flex;
   align-items: center;
   margin-bottom: 100px;
}

.video-box .container .top {
   display: flex;
   justify-content: space-between;
}

.video-box .container .top .text h3 {
   color: #14532D;
   font-weight: 600;
   width: 106px;
   margin-bottom: 17px;
   font-size: 12px;
   background: #DCFCE7;
   border-radius: 36px;
   padding: 2px 8px 2px 8px;
}

.video-box .container .top .text h2 {
   font-size: 48px;
   font-weight: 700;
   line-height: 60px;
   color: #fff;
   width: 100%;
   max-width: 554px;
   margin-bottom: 24px;
}

.video-box .container .top .text p {
   width: 100%;
   max-width: 554px;
   font-size: 20px;
   color: #8896AB;
   line-height: 30px;
   font-weight: 500;
}

.video-box .container .bottom .cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 32px;  
   margin-top: 64px;
}

.video-box .container .bottom .cards .card {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   max-width: 355px;
}

.video-box .container .bottom .cards .card .num {
   color: #2A3342;
   font-size: 20px;
   font-weight: 600;
   background: #22C55E;
   padding: 9px;
   border-radius: 50%;
   width: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 16px;
}

.video-box .container .bottom .cards .card h3 {
   color: #fff;
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 8px;
}

.video-box .container .bottom .cards .card p {
   color: #8896AB;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   width: 100%;
   max-width: 359px;
}

/* Computer */
.computer {
   margin-bottom: 88px;
}
.computer .container {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.computer .container .feature-text {
   width: 86px;
   margin-bottom: 16px;
}

.computer .container h2 {
   font-weight: 700;
   font-size: 36px;
   color: #2A3342;
   margin-bottom: 40px;
}

.computer .container p {
   color: #556987;
   font-weight: 500;
   font-size: 20px;
   margin-top: 40px;
   width: 100%;
   max-width: 919px;
   text-align: center;
   margin-bottom: 24px;
}

.computer .container .btns {
   display: flex;
   gap: 24px;
}

.computer .container .btns .btn {
   padding: 14px 28px;
   font-family: 'Poppins' , sans-serif;
   font-weight: 500;
   font-size: 18px;
}

.computer .container .btns .btn-2 {
   color: #333F51;
   font-weight: 500;
   font-size: 18px;
   padding: 16px 28px;
   border: 2px solid #D5DAE1;
   border-radius: 6px;
}

/* Location styles */

.location .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   text-align: center;
}

.location .container .top .feature-text {
   margin: 16px auto 0px;
}

.location .container .top h2 {
      font-weight: 700;
      font-size: 48px;
      color: #2A3342;
      margin-bottom: 16px; 
}

.location .container .top p {
   color: #556987;
   font-weight: 500;
   width: 100%;
   max-width: 919px;
   line-height: 30px;
   font-size: 20px;
   margin-bottom: 64px;
}

.location .container .cards {
   display: flex;
   justify-content: space-between;
}

.location .container .cards .card h3 {
   font-size: 30px;
   font-weight: 700;
   color: #2A3342;
   margin: 24px 0px 8px;
}

.location .container .cards .card p {
   color: #556987;
   font-size: 20px;
   font-weight: 500;
}

.location .container .cards .card .social {
   display: flex;
   gap: 32px;
   align-items: center;
   margin-top: 8px;
}

.location .map {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 900px;
   padding-bottom: 200px;
   background: linear-gradient(to bottom, #fff 30%, #2A3342 30%);
}

/* Footer */
.foot {
   background: #2A3342;
}

.foot .container {
   display: flex;
   align-items: center;
   flex-direction: column;
}


.foot .container .menu .links {
   display: flex;
   gap: 48px;  
   margin: 32px 0px 64px;
}

.foot .container .menu .links li a {
   color: #8896AB;
   font-size: 20px;
   font-weight: 500;
}

.foot .container .foot-text h3 {
   color: #8896AB;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 84px;
}